﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Apartment Expenses", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  pull-right">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.Name.IsEmpty())
                    {
                        <li>@Html.ActionLink("LogIn", "LogIn", "LogIn", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    }
                    else
                    { 
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("LogOut", "LogOut", "LogIn", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Monthly Dues", "Index", "Monthly", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Details", "Index", "ApartmentResidents", new { area = "" }, new { @class = "nav-link" })</li>
                        
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Apartment Expenses</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>