﻿@{
    ViewBag.Title = "Home Page";
}

<main>
    
    <div>
        <h1>Welcome to the Apartment Service</h1>
        <p>Hello......Everyone Welcome to the Expenses Page.....</p>
        <h2>Let Us Know Our Recent Updates </h2>
        <p>We Request You all to  pay the Management expenses</p>
    </div>
</main>